nodered/flows.json
[
    {
        "id": "ccbee85d07d6d57b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0175007f2bbb4b60",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "53b770b5385caa829129fa8294c2ef8a621728b7ece46f1393f83b078d355338-certificate.pem.crt",
        "keyname": "53b770b5385caa829129fa8294c2ef8a621728b7ece46f1393f83b078d355338-private.pem.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "a11v0c5yxjoj8j-ats.iot.us-east-1.amazonaws.com",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "42c7730dd01993ee",
        "type": "mqtt-broker",
        "name": "",
        "broker": "a11v0c5yxjoj8j-ats.iot.us-east-1.amazonaws.com",
        "port": "8883",
        "tls": "0175007f2bbb4b60",
        "clientid": "capteur-tp3-node-red",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9f2827cb7ae34eb9",
        "type": "mqtt out",
        "z": "ccbee85d07d6d57b",
        "name": "",
        "topic": "tp3/capture/tempeture",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42c7730dd01993ee",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "f8ecf3a6669e9efa",
        "type": "inject",
        "z": "ccbee85d07d6d57b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 40,
        "wires": [
            [
                "87ddaa38e1bf6063"
            ]
        ]
    },
    {
        "id": "87ddaa38e1bf6063",
        "type": "function",
        "z": "ccbee85d07d6d57b",
        "name": "data generate",
        "func": "const temperature = (20 + Math.random() * 10).toFixed(2);\nconst humidity = (40 + Math.random() * 30).toFixed(2);\nmsg.payload = {\n    device_id: \"capteur-salle-tp-01\",\n    temperature: parseFloat(temperature),\n    humidity: parseFloat(humidity),\n    timestamp: new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 40,
        "wires": [
            [
                "9f2827cb7ae34eb9"
            ]
        ]
    }
]