nodered/flows.json
[
    {
        "id": "6ce586ae68324cf4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a87fb74a8c6cc59a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "02f7ace32a147a49",
        "type": "ui_tab",
        "name": "Monitoring Catures",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2f1a7232c77a8b91",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "487e37f27961648f",
        "type": "ui_group",
        "name": "Tempeture",
        "tab": "02f7ace32a147a49",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4be00f8214659c51",
        "type": "inject",
        "z": "6ce586ae68324cf4",
        "name": "Trigger capture ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "b9913df8449ddd67"
            ]
        ]
    },
    {
        "id": "b9913df8449ddd67",
        "type": "function",
        "z": "6ce586ae68324cf4",
        "name": "data generation",
        "func": "const now = new Date();\nmsg.payload = {\n    device_id: \"capteur-salle-tp-01\",\n    timestamp: now.toISOString(),\n    timestamp_unix: Math.floor(now.getTime() / 1000),\n    temperature: parseFloat((Math.random() * 10 + 18).toFixed(2)),\n    humidity: parseFloat((Math.random() * 40 + 40).toFixed(2)),\n    location: \"Salle TP Informatique\",\n    battery_level: parseFloat((Math.random() * 20 + 80).toFixed(1))\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 60,
        "wires": [
            [
                "224e3f39b8325730"
            ]
        ]
    },
    {
        "id": "224e3f39b8325730",
        "type": "mqtt out",
        "z": "6ce586ae68324cf4",
        "name": "Publish Capture",
        "topic": "capture/tempeture",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a87fb74a8c6cc59a",
        "x": 140,
        "y": 180,
        "wires": []
    },
    {
        "id": "4e6b607d88e22669",
        "type": "mqtt in",
        "z": "6ce586ae68324cf4",
        "name": "Subscribe Capture",
        "topic": "capture/tempeture",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a87fb74a8c6cc59a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 300,
        "wires": [
            [
                "810e43fc11a88937",
                "ebb666dfe0724c90"
            ]
        ]
    },
    {
        "id": "810e43fc11a88937",
        "type": "debug",
        "z": "6ce586ae68324cf4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 300,
        "wires": []
    },
    {
        "id": "ebb666dfe0724c90",
        "type": "function",
        "z": "6ce586ae68324cf4",
        "name": "Extract Temp",
        "func": "msg.payload = msg.payload.temperature;\nmsg.topic = \"Temperature (C)\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 420,
        "wires": [
            [
                "961f445f762ca7a0",
                "57b9c809773b90e9"
            ]
        ]
    },
    {
        "id": "961f445f762ca7a0",
        "type": "ui_chart",
        "z": "6ce586ae68324cf4",
        "name": "",
        "group": "487e37f27961648f",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "57b9c809773b90e9",
        "type": "ui_gauge",
        "z": "6ce586ae68324cf4",
        "name": "",
        "group": "487e37f27961648f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": "15",
        "max": "35",
        "colors": [
            "#000cb3",
            "#00e639",
            "#ca3838"
        ],
        "seg1": "22",
        "seg2": "26",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 240,
        "wires": []
    }
]